*{
	padding: 0;
	margin: 0;
}

header{
	text-align: center;
	width: 100%;
	background: #f2f2f2;
	box-shadow: 1px 1px 5px #000;
	height: 50px;
}

/*html { 
  background: url(imagenes/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#menu{
	width: 450px;
	padding-top: 10px;
	margin: auto;
}

#menu ul a{
	color:#6e6e6e;
	text-decoration: none;
	font: bold 16px Verdana;
	padding: 12px 20px 12px 20px;
	background: #fff;
	border-bottom: 9px solid transparent;
	transition:border-bottom .7s;
	-webkit-transition: border-bottom .7s;
	-moz-transition:border-bottom .7s;
	-o-transition:border-bottom .7s;
}

#menu ul a:hover{
	border-bottom: 9px solid #6e6e6e;
}

table, th, td{	
				margin-left: auto;
    			margin-right: auto;
    			text-align: center;
    			border-bottom: 1px solid #ddd;
    			border-left: 1px solid #ddd;
    			border-right: 1px solid #ddd;
    			border-top: 1px solid #ddd;
			}
.btn{
    	height: 24px;
  		width: 24px;
    	transition-duration: 0.4s;
    	cursor: pointer;
    	background-color: white;
    	color: black;
    	border: transparent;
    	border-radius: 4px;
    	background-image:url('./imagenes/grf.png');
    	background-size:cover;
			}
.btn:hover {
    	background-color: #e7e7e7;
    	color: white;
			}
.btn_borrar{
		height: 24px;
		width: 24px;
		transition-duration: 0.4s;
		cursor: pointer;
		background-color: white;
		color: black;
		border: transparent;
		border-radius: 4px;
		background-image:url('./imagenes/borrar1.jpg');
		background-size:cover;
		}
.btn_borrar:hover {
    	background-color: #e7e7e7;
    	color: red;
		}
div {
margin:0 auto;
}

footer{
    position:fixed;
    bottom:0;
}

section{
	font: 16px Verdana;
}







